@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Nunito:300);

body {
	background: url(../images/background.png) fixed no-repeat;
	background-size: cover;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

h1,
h2,
h3 {
	font-family: 'Roboto Slab', serif;
}

img {
	max-width: 100%;
}

.wrapper {
	box-shadow: 0 0 5px 5px #e3e3e3;
	background: #FFFFFF;
}

.header,
.footer {
	color: #FFFFFF;
	padding: 8px 0;
}

.header {
	background: #006cb7;
}

.footer {
	background: #094566;
	border-top: 6px solid #006cb7;
}

.footer p {
	margin: 0;
}

.logo {
	color: #FFFFFF;
	font-size: 35px;
	text-decoration: none;
}
.logo:hover {
	color: #FFFFFF;
	font-size: 35px;
	text-decoration: none;
}

img {
	margin: 12px 15px;
}

.nav-pills>li>a {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;

	transition: all .2s ease-in-out;
}

.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari */
	transform: scale(1.1); /* Standard syntax */
	background-color: transparent;
}

.main-content {
	margin: 0;
	padding: 20px 0;
	background: url(../images/main-shadow.png) no-repeat center top;
}

.page-title {
	margin-top: 0;
}

.frame {
	background: #000;
	padding: 15px;
	box-shadow: 0 0 15px 3px #717070;
}

.about-img {
	float: left;
	margin: 9px 15px 12px 0;
}

.hannah {
	width: 48%;
	float: left;
	margin: 9px 15px 15px 0;
}

.leah {
	width: 35%;
	float: right;
}